= form_with(model: [:admin, page], local: true) do |form|
  - if page.errors.any?
    #error_explanation
      %h2
        = pluralize(page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - page.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :type
    = form.text_field :type
  .actions
    = form.submit
